.input-group{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

span[disabled]
{
    pointer-events: none;
    cursor: default;
    background-color: #eee;
    opacity: 1;
}

.input-group-addon.active{
    color: #fff;
    background-color: #007aff;
}

.picker-unit-left{
    margin-right: 10px;
}

.picker-unit-right{
    margin-left: 10px;
}
