.input-group{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

span[disabled]
{
    pointer-events: none;
    cursor: default;
    background-color: #eee;
    opacity: 1;
}

.input-group-addon.active{
    color: #fff;
    background-color: #007aff;
}
